<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>federicoagudelo.me</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "index.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="body" background="http://eskipaper.com/images/snow-mountains-background-1.jpg">
    <div class="container-fluid" id="container-fluid1">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" id="main">
                <h1>Federico Agudelo</h1>
                <div class="btn-group">
                    <a href="aboutMe" class="btn btn-primary ">About Me</a>
                    <a href="projects" class="btn btn-primary ">Projects</a>
                    <a href="contact" class="btn btn-primary ">Contact</a>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>


    <footer>
        <div class="container-fluid" id="container-fluid2">
            <div class="row" id="row-footer">
                <div class="col-sm-4" align="center"><p>Phone Number:   +573148865743</p></div>
                <div class="col-sm-4" align="center"><p>Email:  fagudel7@eafit.edu.co</p></div>
                <div class="col-sm-4" align="center">
                    <a href="https://www.linkedin.com/in/federico-agudelo-mejia-480687129/?ppe=1">
                        <img height="40" src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-linkedin-circle-128.png">
                    </a>
                    <a id="logo2" href="https://github.com/tob447/Completed-projects">
                    <img height="40" src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>